[Unit]
Description=Garage Node Receiver MQTT


[Service]
Type=simple
ExecStart=/opt/GarageSensorNode/garagenode_receiver/.venv/bin/python3 /opt/GarageSensorNode/garagenode_receiver/garagenode_receiver_mqtt.py
Nice=-5
User=ast
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=garagenode


[Install]
WantedBy=multi-user.target
