## copy this file to `.env`

SERIAL_PORT=/dev/ttyAMA0
SERIAL_BAUD=9600

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USER=foo
MQTT_PASS=bar
MQTT_TOPIC_BASE=tele/garagenode/

## Time in seconds between MQTT messages
MQTT_TIME_PERIOD_SECONDS = 600
